@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTC55F-webfont.eot');
  src: url('../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTC55F-webfont.woff') format('woff'),
  url('../fonts/PTC55F-webfont.ttf') format('truetype'),
  url('../fonts/PTC55F-webfont.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  }

.article {
  padding: 1.8em 0;
  color: black;
  font: 1.23em/1.4 PTSansRegular, sans-serif;
  }

  .article:after {
    clear: both;
    content: " ";
    display: table;
  }

  .article-title {
    margin-bottom: 1.25em;

    color: black;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    }

  .article-column {
    float: left;
    width: 45%;
    }

    .article-column + .article-column {
      margin-left: 10%;
      }

  .article-break {
    clear: both;
    }

  .article-column > p {
    text-indent: 15px;
    }

    .article-column > p + p {
      margin-top: 1.8em;
      }

  .article-column > ul {
    margin: 1.8em 0 0;
    padding: 0;
    list-style: none outside;
    }
    .article-column > ul > li:before {
      position: absolute;
      margin-left: -16px;
      content: "\2013";
      }

  .article-column a { color: #0070ed; }
    .article-column a:visited { color: #0065ca; }
    .article-column a:hover { color: #00458a; }

  .article-column a.pseudo-link,
  .article-column a.pseudo-link:visited,
  .article-column a.pseudo-link:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
    }