.browsers {
  overflow: hidden;
  padding: 0;
  list-style: none;
  }

  .browser {
    float: left;
    margin-right: 10px;
    max-height: 125px;
    background: url('../i/browsers.png') 0 0 no-repeat;
    }


    .browser-chrome {
      width: 126px;
      background-position: 0 0;
      }

    .browser-ff {
      width: 120px;
      background-position: -127px 0;
      }

    .browser-opera {
      width: 108px;
      background-position: -248px 0;
      }

    .browser-safari {
      width: 112px;
      background-position: -357px 0;
      }

    .browser-ie {
      float: right;
      margin-right: 0;
      width: 126px;
      background-position: -470px 0;
      }

  .browser-alt {
    padding-top: 1em;
    text-align: center;
    font-size: 1.23em;
    line-height: 1.2;
    }

    .browser-alt-chrome { color: #22a12a; }
      .browser-alt-chrome-middle { color: #c90000; }
      .browser-alt-chrome-end { color: #f9d411; }

    .browser-alt-ff { color: #f2a414; }

    .browser-alt-opera { color: #c10e0e; }

    .browser-alt-safari { color: #646464; }

    .browser-alt-ie {
      padding-top: 0.5em;
      color: #036da3;
      }
      .browser-alt-ie-part { display: block; }

