.btn {
  display: inline-block;
  padding: 4px 17px;

  color: black;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
  font: .85em/11px Verdana, sans-serif;

  border: 1px solid transparent;
  border-radius: 7px;

  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  background-image:
    -webkit-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-image:
    -o-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-image:
    linear-gradient(to top, #e2e2e2 30% , #f2f2f2 70%),
    linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));

  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  }

  .no-cssgradients .btn {
    border: 1px solid #cccccc;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #a8a8a8;

    background-origin: padding-box;
    background-clip: padding-box;
    background: #e2e2e2 url('../i/button-bg.gif') 0 0 repeat-x;
    }

.btn:focus {
  padding: 5px 18px;
  border: none;
  box-shadow: rgba(0, 35, 214, 0.94) 0 0 4px 0;
  outline: 0;
  }

  .no-boxshadow .btn:focus {
    padding: 4px 17px;
    border: 1px solid #8995d2;
    border-top: 1px solid #94a1e0;
    border-bottom: 1px solid #6d79b8;
    }

.btn:hover {
  background-image:
    -webkit-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-image:
    -o-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  background-image:
    linear-gradient(to top, #fdffcc 30% , #feffeb 70%),
    linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  }

  .no-cssgradients .btn:hover {
    background: #e2e2e2 url('../i/button-bg.gif') 0 -36px repeat-x;
    }

.btn:active {
  padding: 6px 18px 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 3px 0 inset;
  background: #e2e2e2;
  background-image: -webkit-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
  background-image: -o-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
  background-image: linear-gradient(to top, #e2e2e2 30% , #f2f2f2 70%);
  }

  .no-cssgradients .btn:active {
    background: #e2e2e2 url('../i/button-bg.gif') 0 0 repeat-x;
    }

  .no-boxshadow .btn:active {
    padding: 5px 17px 3px;
    border: 1px solid #969696;
    }