.page {
  margin: 0 auto;
  padding: 30px 0;
  width: 960px;
  }

  .my {
    width: 80%;

    padding: 10px;

    color: #444;
    font: 1.8em/1.3 Georgia, serif;

    border: 1px solid #e8e5e0;
    border-radius: 10px;

    box-shadow: #e8e5e0 1px 1px 3px;
    }

    .my h3 {
      margin: 0 0;
      color: #a62;
      font-weight: normal;
      }