.meter {
  position: relative;
  width: 200px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.29) 0 1px 3px 0 inset
  }

  .no-boxshadow .meter {
    border: 1px solid #e6e6e6;
    }

  .meter-progress {
    width: 0;
    height: 13px;
    border-radius: 6px;

    background-image: -webkit-linear-gradient(bottom, #28BF14, #8BDA1A 14%, #28BF14 49%, #ABFF58);
    background-image: -o-linear-gradient(bottom, #28BF14, #8BDA1A 14%, #28BF14 49%, #ABFF58);
    background-image: linear-gradient(to top, #28BF14, #8BDA1A 14%, #28BF14 49%, #ABFF58);
    }

    .no-cssgradients .meter-progress {
      background: #28BF14 url('../i/meter-bg.gif') 0 0 repeat-x;
      }

  .meter-text {
    float: left;
    margin-right: -100%;
    padding-top: 2px;
    width: 100%;
    text-align: center;
    font: .7em/1 Verdana, sans-serif;
    }