.rating {
  display: inline-block;
  padding: 0;
  border: none;
  }

  .rating:not(:checked) > input {
    display: none;
    }

  .rating:not(:checked) > label {
    position: relative;
    float: right;
    top: 2px;

    width: 18px;
    height: 16px;

    font-size: 0;
    line-height: 0;

    background: url('../i/star.png') -18px 0 no-repeat;

    cursor: pointer;
    }

  .rating:not(:checked):hover > label:hover,
  .rating:not(:checked):hover > label:hover ~ label,
  .rating:not(:checked) > input:checked ~ label {
    background-position: 0 0;
    }

  .rating:not(:checked):hover input + label {
    background-position: -18px 0;
    }