@import "vendor/normalize.css";

body {
  color: #444;
  font: 13px/1.3 Arial, Tahoma, sans-serif;
  background: #f5f3f0;
  }

h1, h2, h3 { color: #a62; }

h1 {
  font-size: 2em;
  }

h2 {
  font-size: 1.8em;
  }

h3 {
  font-size: 1.6em;
  }

/* text */
p {
  margin: 0;
  }

p + p {
  margin-top: 1em;
  }

ul {
  margin: 1em 0 0;
  }
